// ==========================================================================
// = Global Variables
// ==========================================================================

// Base font size
// ============
$base-font-size: 16;

// Font Weights
// ============
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 700;
$font-weight-bold: 900;

// Breakpoints
// ============
$mobile-small: 240;
$mobile-large: 320;
$tablet-small: 480;
$tablet-large: 768;
$screen-small: 1024;
$screen-large: 1280;
