@charset "utf-8";

// Styling Starter Kit
//
// A starter kit for Sass projects borrowing naming conventions with BEM,
// categorization based from SMACSS,

// Contents:
// 01. Utilities...... Variables, Functions, Mixins
// 03. Base........... Normalize, default elements
// 04. Layout......... layout template, grid structure
// 05. Modules........ modules, colors, typography
// 06. States......... active, mobile, print

// ==========================================================================
// $Utilities
// ==========================================================================
@import 'utilities/index';

// ==========================================================================
// $Base
// ==========================================================================
@import 'base/index';

// ==========================================================================
// $Layout
// ==========================================================================
@import 'layouts/index';

// ==========================================================================
// $Modules
// ==========================================================================
@import 'modules/index';

// ==========================================================================
// $States
// ==========================================================================
@import 'states/index';
